html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #181818;
}

label {
  color: #eee;
  display: block;
  margin: 10px 0;
}

input {
  padding: 10px;
  border: none;
}
