button {
  border: #eee 2px solid;
  border-radius: 5px;
  background-color: transparent;
  color: #eee;
  position: relative;
  transition: 0.5s;
}

button:hover {
  color: #181818;
}

button .slide {
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  right: 60px;
  background-color: #eee;
  transition: 0.5s;
  z-index: -1;
}

button:hover .slide {
  right: -1px;
  transition: 0.5s;
}
